{
  "env": {
    "jest": true,
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-unused-vars": "warn",
  },
}
